* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
}

main {
  font-family: sans-serif;
  color: gray;
  font-size: 1rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.mt_500 {
  margin-top: 500px;
}

/* #################################################################################*/
/* NEWS SECTION */

.news_section {
  display: flex;
  gap: 20px;
}

/* .nba_news_img {
  position: fixed;
  left: 1000px;
  top: 95px;
  width: 300px;
  height: 150px;
  border-radius: 5px;
} */

/* 
.nba_news_img_2 {
  position: fixed;
  left: 1000px;
  top: 270px;
  width: 300px;
  height: 150px;
  border-radius: 5px;
} */

.feed {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  width: 840px;
  border: 1px solid black;
  border-radius: 10px;
}

.news {
  width: 800px;
  height: 100px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.news_text {
  padding-top: 30px;
  padding-left: 30px;
}

.news_text a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
