* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  font-family: sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;
  color: gray;
  font-size: 1rem;

}

.table_container{
  margin-top: 3.5rem;
  height: 800px;
  overflow: auto;
  border-collapse: collapse;
  box-shadow: 0 5px 10px gray;
  text-align: left;
}

table{

  border-collapse: collapse;
  box-shadow: 0 5px 10px gray;
  text-align: left;

}

thead{
  box-shadow: 0 5px 10px gray;
}

th{
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing:  0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

td{
  padding: 1rem 2rem;
}


.nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6a6a;
  height: 60px;
}

.nba_logo {
  width: 50px;
  height: 30px;
  margin-right: 20px;
}

.nav_items {
  display: flex;
  gap: 20px;
  list-style: none;
  color: #fff;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav_items a {
  color: #fff;
  text-decoration: none;
}

.nav_items li {
  cursor: pointer;
}

.nav_items li:hover {
  color: #bcb5b5;
  transition: 0.2s all ease-in;
}
