.mobile {
  display: none;
}

.desktop {
  display: block;
}

footer {
  background-color: #6d6a6a;
  height: 400px;
}

.footer_section {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-top: 50px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.footer_section b {
  font-size: 14px;
}

.footer_section li {
  list-style: none;
  margin-top: 20px;
}

footer hr {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.footer_section_2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.footer_section_2_text li {
  list-style: none;
  font-size: 14px;
  font-weight: 100;
  padding-bottom: 5px;
}

.footer_section_2_text span {
  font-size: 12px;
  font-weight: 600;
}

.footer_section_2_text h3 {
  font-weight: 200;
}

.footer_section_2_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social_media_icon {
  width: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  footer {
    width: 100%;
    height: 100%;
  }

  .footer_section {
    width: 100%;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10% 10% 0 20%;
  }

  .footer_section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 650px) {
  .footer_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10% 10% 0 10%;
  }

  .footer_section_2 span {
    text-align: center;
  }

  .footer_section_2 li {
    text-align: center;
  }
}
