* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
}

main {
  font-family: sans-serif;
  color: gray;
  font-size: 1rem;
}

.table_container {
  /* margin-top: 3.5rem;
  height: 400px;
  overflow: auto;
  border-collapse: collapse;
  text-align: left; */
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px gray;
  text-align: left;
}

thead {
  box-shadow: 0 5px 10px gray;
}

th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

td {
  padding: 1rem 2rem;
}

.page_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 50px;
}

.page_button {
  background-color: #0268d6;
  color: #fff;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.page_button:hover {
  background-color: #358eee;
  transition: 0.2s all ease-out;
}
