.table_container {
  height: 92%;
  position: relative;
  overflow: auto;
  width: fit-content;
  animation-name: transitionIn;
  animation-duration: 1s;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px gray;
  text-align: left;
}

.table_headers {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 10px gray;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  animation-name: transitionIn;
  animation-duration: 1s;
}

.tables_container {
  margin-top: 100px;
  width: fit-content;
  height: 70vh;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  animation-name: transitionIn;
  animation-duration: 1s;
}

td {
  padding: 1rem 2rem;
  animation-name: transitionIn;
  animation-duration: 1s;
}

.page_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.page_button {
  background-color: grey;
  color: #fff;
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  border-width: 1px;
}

.page_button:hover {
  background-color: lightgrey;
  color: black;
  transition: 0.2s all ease-out;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@media only screen and (max-width: 1280px) {
  .table_container {
    overflow: auto;
  }
}

@media only screen and (max-width: 650px) {
  .table_container {
    width: 400px;
  }
}
